html{
    font-family: system-ui, -apple-system,
    "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", "Liberation Sans", sans-serif;
}

#body_div{
    width: 100%;
    height: 97vh;
    margin: 0;
    display: flex;
    flex-direction: row;
}

#left_side{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#right_side{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#left_side_logo{
    height: 210px;
}

#form{
    width: 75%;
    height: 70%;
    border: 1px solid lightgray;
    border-radius: 20px;
    box-shadow:
            0 10px 15px -3px rgba(0, 0, 0, 0.1),
            0 4px 6px -4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.field{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.field label{
    width: 84%;
    margin: 10px 10%;
    font-size: 20px;
}

.field .nameDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-left: 7%
}

.genderBtnDiv{
    margin-left: 7%;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.genderBtnDiv div{
    display: flex;
    flex-direction: row;
    width: 18%;
    justify-content: left;
}

.genderBtnDiv label{
    width: 84%;
    font-size: 20px;
    margin-left: 7px;
    display: flex;
    flex-direction: row-reverse;
}

.genderBtn{
    margin-left: 20px;
    margin-right: 10px;
}

.field .formInput{
    width: 80%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 16px;
}

select{
    width: 84%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 16px;
}

#loginBtn{
    width: 84.5%;
    height: 40px;
    margin: 20px 10%;
    border: none;
    border-radius: 5px;
    background-color: teal;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#loginBtn:hover{
    background-color: #00aaaa;
}

.hoverEff:hover{
    color: red;
}


/*responsive*/
@media screen and (max-width: 1210px){
    #left_side{
        width: 50%;
    }

    #right_side{
        width: 50%;
    }


    #left_side_logo{
        height: 180px;
    }

    #form{
        width: 80%;
    }
}

@media screen and (max-width: 1000px){
    #left_side{
        width: 40%;
    }

    #right_side{
        width: 60%;
    }


    #left_side_logo{
        height: 140px;
    }
}

@media screen and (max-width: 750px){
    #left_side{
        width: 35%;
    }

    #right_side{
        width: 65%;
    }


    #left_side_logo{
        height: 100px;
    }

    #form{
        width: 95%;
    }
}





@media screen and (max-width: 650px){
    #body_div{
        flex-direction: column;
    }

    #left_side{
        width: 100%;
        height: 25%;
        border-right: none;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    #right_side{
        width: 100%;
        height: 75%;
    }

    #left_side_logo{
        height: 140px;
    }

    #form{
        width: 90%;
        height: 90%;
    }

    .field label{
        font-size: 18px;
    }

    .field input{
        height: 35px;
        font-size: 14px;
    }

    #loginBtn{
        height: 35px;
        font-size: 18px;
    }
}

