html{
    font-family: system-ui, -apple-system,
    "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", "Liberation Sans", sans-serif;
}

#body_div{
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: row;
}

#left_side{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#right_side{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#left_side_logo{
    height: 210px;
}

#form{
    width: 75%;
    height: auto;
    border: 1px solid lightgray;
    border-radius: 20px;
    box-shadow:
            0 10px 15px -3px rgba(0, 0, 0, 0.1),
            0 4px 6px -4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.field{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.field label{
    width: 84%;
    margin: 10px 10%;
    font-size: 18px;
}

.nameDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    width: 88%;
    margin-left: 1%;
    margin-right: 12%;
    margin-top: 10px;
}

.nameDivInner{
    flex: 1;
    margin-left: 8%;
}

.nameDivInner label{
    width: 84%;
    margin: 10px 10%  0 -1%;
    font-size: 18px;
}

.nameDivInner input{
    height: 40px;
    padding: 0 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    margin-top: 5px;
}

.genderBtnDiv{
    margin-top: 9px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#genderTit{
    margin-top: 10px;
    margin-left: 7.9%;
}

.genderBtnDiv label{
    font-size: 18px;
    margin-left: 7px;
    display: flex;
    flex-direction: row-reverse;
}

.genderBtn{
    margin-left: 20px;
    margin-right: 10px;
}

.field .formInput{
    width: 80%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 14px;
}

select{
    width: 84%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 16px;
}

#register{
    width: 84.5%;
    height: 40px;
    margin: 20px 10%;
    border: none;
    border-radius: 5px;
    background-color: #24cc31;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#register:hover{
    background-color: #66d872;
}

#backBtn:hover{
    background-color: #00aaaa;
}

#backBtn{
    width: 84.5%;
    height: 40px;
    margin: 5px 10% 30px;
    border: none;
    border-radius: 5px;
    background-color: teal;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.hoverEff:hover {
    text-decoration: none;
}

.typeSelectCenter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.typeSelect {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    background: rgb(232, 232, 232);
    position: relative;
    border-radius: 10px;
}
.typeSelect label {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 80%;
    height: 50%;
    min-height: 50px;

    padding: 10px 15px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    font-size: 18px;
    border-radius: 10px;
}
.typeSelect input {
    display: none;
}

.typeSelect .slider {
    position: absolute;
    top: 2px;
    left: 2px;

    width: 100px;
    height: 50px;

    padding: 10px 15px;
    background: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: 0.25s ease-in;
}
.typeSelect input:nth-child(1):checked ~ .slider {
    left: 2;
}
.typeSelect input:nth-child(3):checked ~ .slider {
    left: 142px;
}
.typeSelect input:nth-child(5):checked ~ .slider {
    left: 290px;
}

.typeSelect input:nth-child(1):checked + label {
    font-weight: bold;
    background-color: #00aaaa;
}
.typeSelect input:nth-child(3):checked + label {
    font-weight: bold;
    background-color: #00aaaa;
}
.typeSelect input:nth-child(5):checked + label {
    font-weight: bold;
    background-color: #00aaaa;
}

#policy{
    margin: 0 10px 0 10px;
    font-size: 16px;
}

#flowColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#buttons{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-left: 1%;
    width: 90%;
    margin-top: 0;
}

#closePolicy{
    height: 40px;
    width: 20%;
    margin: 5px 10% 30px;
    border: none;
    border-radius: 5px;
    background-color: teal;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#usernameError{
    text-align: center;
}

#genderError{
    text-align: center;
}

.error {
    margin-top: 0.5%;
    color: red;
    /*display: none;*/
}


.modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}
.modal-content {
    background-color: #fff;
    height: fit-content;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.hoverEff {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.hoverEff:hover {
    text-decoration: none;
    color: darkblue;
}

#buttonDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 80px;
}

.gender-button {
    width: 100%;
    background-color: #ffffff;
    border: 2px solid #007bff;
    color: #007bff;
    padding: 7px 15px;
    margin: 5px 10px 0 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 20px;
}

.gender-button.selected {
    background-color: #007bff;
    color: white;
}

.gender-button:hover {
    background-color: #e7f0ff;
}





/*responsive*/
@media screen and (max-width: 1210px){
    #left_side{
        width: 50%;
    }

    #right_side{
        width: 50%;
    }


    #left_side_logo{
        height: 180px;
    }

    #form{
        width: auto;
    }
}

@media screen and (max-width: 1000px){
    #left_side{
        width: 40%;
    }

    #right_side{
        width: 60%;
    }


    #left_side_logo{
        height: 140px;
    }
}

@media screen and (max-width: 750px){
    #left_side{
        width: 35%;
    }

    #right_side{
        width: 65%;
    }


    #left_side_logo{
        height: 100px;
    }

    #form{
        width: auto;
    }

    #body_div{
        width: 100%;
        height: auto;
        margin: 0;
        display: flex;
        flex-direction: row;
    }
}





@media screen and (max-width: 650px){
    #body_div{
        flex-direction: column;
    }

    #left_side{
        width: 100%;
        height: 25%;
        border-right: none;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    #right_side{
        width: 100%;
        height: 75%;
    }

    #left_side_logo{
        height: 140px;
    }

    #form{
        width: 90%;
        height: 90%;
    }

    .field label{
        font-size: 18px;
    }

    .field input{
        height: 35px;
        font-size: 14px;
    }

    #loginBtn{
        height: 35px;
        font-size: 18px;
    }
}


.modal2 {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
}
.modal-content2 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    height: 40%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column; /* Stack children vertically */
}
.modal-body {
    max-height: calc(90% - 60px); /* Adjust height for button */
    overflow-y: auto; /* Enable vertical scrolling */
    flex-grow: 1; /* Allow body to grow */
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#redirectBtn{
    width: 80%;
    height: 40px;
    margin: 5px 10% 30px;
    border: none;
    border-radius: 5px;
    background-color: teal;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

