html{
    font-family: system-ui, -apple-system,
    "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", "Liberation Sans", sans-serif;
}

/*nav*/
body{
    width: 99.8%;
    margin: 0px;
}

nav{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#nav_left{
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#nav_center{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#nav_right{
    width:10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#nav_center a{
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgba(0,0,0,0.65);
    cursor: pointer;
    text-decoration: none;
}

#nav_right a{
    width: 14%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgba(0,0,0,0.65);
    cursor: pointer;
    text-decoration: none;
}

#nav_center a:hover{
    color: rgba(0,0,0,0.85);
}

#nav_right a:hover{
    color: rgba(0,0,0,0.85);
}
/*nav*/

#main{
    border: 1px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main_title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

#main_sorting{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    width: 95%;
}

select{
    width: 200px;
    height: 35px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    margin-left: 5px;
}

#main_carList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    border: 1px solid black;
}

/*.row{*/
/*    border-bottom: 1px solid lightgray;*/
/*}*/

.brand_name{
    font-size: 30px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.car-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 20px;
}

.car-item {
    border: 1px solid gray;
    border-radius: 25px;
    overflow: hidden;
    text-align: center;
    width: 22%;
    margin-left: 25px;
}

.car-item img {
    width: 100%;
    height: auto;
}

.car-item p {
    margin: 10px 0;
}

.car-item button {
    padding: 10px 20px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.car-item button:hover {
    background-color: #0056b3;
}


/*responsive*/
@media screen and (max-width: 700px){


    #main_sorting{
        width: 100%;
    }

    #main_carList{
        width: 100%;
    }

    .car-item {
        width: 90%;
        margin-bottom: 20px;
        margin-left: 0px;
    }

    .car-row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
