html{
    font-family: system-ui, -apple-system,
    "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", "Liberation Sans", sans-serif;
}


body{
    width: 100%;
    margin: 0;
}

/* Go to top */
.goTopBtn{
    position: fixed;
    bottom: 35px;
    right: 35px;
    cursor: pointer;
    height: 100px;
    width: 100px;
    background: transparent;
    border: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.goTopBtn img{
    width: 110%;
}


/* Chatbot */
.chatBtn{
    position: fixed;
    bottom: 35px;
    left: 35px;
    cursor: pointer;
    height: 100px;
    width: 100px;
    background: transparent;
    border: 0;
    justify-content: center;
    align-items: center;
}
.chatBtn img{
    width: 90%;
}


/*nav*/
nav{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-color: black;
    border-bottom: 1px solid;
    box-shadow: black 0 0 3px;
    animation: nav-load 0.5s ease-in;
}

#nav_left{
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
#nav_center{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#nav_right{
    width:10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#nav_left img{
    height: 55px;
}

#nav_center a{
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgba(0,0,0,0.65);
    cursor: pointer;
    text-decoration: none;
}

/* The effects of the contents in the nav bar */
#nav_center a::before{
    position: absolute;
    content: '';
    height: 3px;
    margin-top: 30px;
    width: 5.5%;
    background: teal;
    transform: scale(0);
    transform-origin: right;
    transition: transform .4s linear;
}

#nav_center a:hover::before{
    transform: scale(1);
    transform-origin: left;
}

#nav_right a{
    width: 14%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgba(0,0,0,0.65);
    cursor: pointer;
    text-decoration: none;
}

#nav_center a:hover{
    color: rgba(0,0,0,0.85);
}

#nav_right a:hover{
    color: rgba(0,0,0,0.85);
}

/* The ease-in animation for the nav bar */
@keyframes nav-load {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}
/*nav*/


@keyframes article-load {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


/* The footer */
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, auto));
    gap: 10rem;
    background: #aaa8a8;
    left: 0;
    right: 0;
    padding: 1% 5% 1% 5%;
}


.footer-logo{
    width: 30%;
    margin-bottom: 1.5%;
    margin-left: 3.5%;
}
/* The main section in the footer ot the ste map */
.footer-content h4{
    color: black;
    font-size: 23px;
}

.footer-content a{
    text-decoration: none;
}

.footer-content a h4:hover{
    color: teal;
    transition: all .40s ease;
}

/* The sort-into into footer */
.footer-content p{
    color: black;
    font-size: 16px;
    line-height: 23px;
    margin: 0 4%;
}
/* The footer */

#profile_left hr{
    width: 90%;
    height: 6px;
    border: none;
    border-top: 2px dashed white;
    background-color: #333;
    text-align: center;
    margin: -1% auto 3% auto;
}

#mainContent{
    animation: article-load 0.6s ease-in;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1% 10% 0 10%;
}

.container h1{
    margin-top: 0;
    font-size: 40px;
    color: black;
}

#form{
    height: auto;
    border: 1px solid black;
    width: 1000px;
    background: #d7e4e4;
    box-shadow: 0 .5rem 1rem rgb(134, 134, 134);
}

#form form{
    margin: 2%;
}

#form form hr{
    width: 100%;
    border-top: 5px solid black;
}

.formClass{
    font-size: 30px;
    font-weight: bold;
}


.subTitle{
    font-size: 25px;
    font-weight: bold;
    margin-left: 15px;
}

.inputRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3%;
    margin: 0 3% 3% 3%;
}

.inputRow label{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.inputRow label input, select{
    margin-top: 6px;
    font-size: 20px;
    width: 280px;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


input[type="text"]:focus {
    border-color: #007BFF;
}

.buttonDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 80px;
}

.gender-button {
    width: 100%;
    background-color: #ffffff;
    border: 2px solid #007bff;
    color: #007bff;
    padding: 7px 15px;
    margin: 5px 10px 0 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 20px;
}

.gender-button.selected {
    background-color: #007bff;
    color: white;
}

.gender-button:hover {
    background-color: #e7f0ff;
}


.electronic-button-Yes {
    width: 100%;
    background-color: #ffffff;
    border: 2px solid #29d829;
    color: #29d829;
    padding: 7px 15px;
    margin: 5px 10px 0 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 20px;
}

.electronic-button-Yes.selected {
    background-color: #66d872;
    color: white;
}

.electronic-button-No {
    width: 100%;
    background-color: #ffffff;
    border: 2px solid #ef2c2c;
    color: #ef2c2c;
    padding: 7px 15px;
    margin: 5px 10px 0 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 20px;
}

.electronic-button-No.selected {
    background-color: #e45656;
    color: white;
}

.electronic-button-No:hover, .electronic-button-Yes:hover {
    background-color: #e7f0ff;
}

.warning {
    color: red;
    font-size: 18px;
    font-weight: bold;
}

.remove-button {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 1%;
    border-radius: 5px;
}

.remove-button:hover{
    background-color: #e34c4c;
}


.inputRowTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 3% 0 1%;
}

#addDriver{
    font-size: 20px;
    padding: 1%;
    background: #f9c22c;
    border: 1px solid #f9c22c;
    border-radius: 10px;
}

#addDriver:hover{
    background: rgba(236, 190, 73, 0.93);
}

.containerRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1% 10% 0 10%;
}


#nextBtnContainer{
    width: 870px;
    display: flex;
    justify-content: flex-end;
}

#previousBtnContainer{
    display: flex;
    justify-content: flex-start;
}


#nextBtn{
    width: 15%;
    background-color: #f9c22c;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin: -0.5% 0 1% 0;
}

#FinishBtn{
    width: 15%;
    background-color: #29d829;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin: -0.5% 0 1% 0;
}

#exitBtn{
    width: 130px;
    background-color: #ef2c2c;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin: -0.5% 0 1% 0;
}

#previousBtn{
    width: 130px;
    background-color: #16bdbd;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin: -0.5% 0 1% 0;
}

#previousBtn:hover{
    background-color: #46c6c6;
}

#FinishBtn:hover{
    background-color: #40cc4a;
}

#exitBtn:hover{
    background-color: #df4545;
}

#nextBtn:hover{
    background-color: #ffce4b;
}

#progress {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: -3% 0 0 0;
}

#progress p {
    flex: 1; /* Distribute space evenly */
    padding: 25px 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    color: white;
    transition: background 0.3s ease;

}

.inProgress{
    background: #1a981a;
    animation-name: light;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.completed{
    background: green;
}

.waiting{
    background: gray;
}

@keyframes light{
    from{
        opacity: 1;
    }
    to{
        opacity: 0.5;
    }
}

.arrowInProgress{
    font-size: 100px;
    color: #f9c22c;
    margin: 0 0 0.5% 0;
    animation-name: light;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.arrowWaiting{
    font-size: 100px;
    color: gray;
    margin: 0 0 0.5% 0;
}

.arrowCompleted{
    font-size: 100px;
    color: green;
    margin: 0 0 0.5% 0;
}




/* For P2 */
#plans{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3% 3% 3% 3%;
}


.plan{
    width: 45%;
    border: 5px black solid;
    padding: 10px;
}

.plan h1{
    font-size: 35px;
    margin: 0 0 0 0;
}

.plan img{
    width: 20%;
}

.planContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.planContent p{
    font-size: 25px;
    font-weight: bold;
    color: #ff0000;
}

.plan:hover{
    transform: translateY(-10px);
}

#downloads{
    margin-top: -15px;
    font-size: 20px;
}

#downloads a{
    text-decoration: none;
}

#downloads a:hover{
    text-decoration: underline;
}

#planDetail p{
    font-size: 20px;
    margin: -1% 2% 2% 2%;
}



/* For P3 */
#totalTitle{
    font-size: 25px;
    margin-left: 15px;
}

#paymentMethod{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3% 9% 3% 9%;
}

.payment{
    width: 150px;
    height: 100px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px;
}

.payment p{
    margin: 10px 0 10px 0;
    font-size: 22px;
    font-weight: bold;
}

#agreementContent{
    display: flex;
    flex-direction: column;
    margin: -30px 3% 3% 3%;
    font-size: 20px;
}

#agreementContent p{
    margin: 20px 0 0 0;
}

#agreementContent ul{
    margin: 5px 0 10px 0;
}

#agreementContent label{
    font-size: 20px;
    font-weight: bold;
    margin-left: -12px;
}

#agreementContent input{
    width: 40px;
}

input[type='checkbox'] {
    width:20px;
    height:20px;
}

#paymentDetail{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 3% 3% 15%;
}

.paymentRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3%;
}

.paymentRow label{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

#cardNumber,#cvv{
    width: 668px;
}

.paymentRow input{
    margin-top: 6px;
    font-size: 20px;
    width: 320px;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* For P4 */

#paymentMsg{
    font-size: 20px;
    color: red;
}

#chkMsg{
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
    color: red;
    margin-top: -10px;
}

.infoRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3%;
    margin: 0 3% 3% 7%;
}

.infoRow label{
    width: 270px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.infoRow label a{
    font-weight: normal;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.infoRow label a img{
    margin-left: 15px;
    width: 50px;
}

#agreementPolicy{
    margin: 0 3% 3% 3%;
}

#agreementPolicy p, ol, ul{
    font-size: 18px;
}

#agreeP4{
   font-weight: bold;
    font-size: 19px;
}

/* For Finish */






