html{
    font-family: system-ui, -apple-system,
    "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", "Liberation Sans", sans-serif;
}


body{
    width: 100%;
    margin: 0;
}

/* Go to top */
.goTopBtn{
    position: fixed;
    bottom: 35px;
    right: 35px;
    cursor: pointer;
    height: 100px;
    width: 100px;
    background: transparent;
    border: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.goTopBtn img{
    width: 110%;
}


/*nav*/
nav{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-color: black;
    border-bottom: 1px solid;
    box-shadow: black 0 0 3px;
    animation: nav-load 0.5s ease-in;
}

#nav_left{
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
#nav_center{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#nav_right{
    width:10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#nav_left img{
    height: 55px;
}

#nav_center a{
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgba(0,0,0,0.65);
    cursor: pointer;
    text-decoration: none;
}

/* The effects of the contents in the nav bar */
#nav_center a::before{
    position: absolute;
    content: '';
    height: 3px;
    margin-top: 30px;
    width: 5.5%;
    background: teal;
    transform: scale(0);
    transform-origin: right;
    transition: transform .4s linear;
}

#nav_center a:hover::before{
    transform: scale(1);
    transform-origin: left;
}

#nav_right a{
    width: 14%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgba(0,0,0,0.65);
    cursor: pointer;
    text-decoration: none;
}

#nav_center a:hover{
    color: rgba(0,0,0,0.85);
}

#nav_right a:hover{
    color: rgba(0,0,0,0.85);
}

/* The ease-in animation for the nav bar */
@keyframes nav-load {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}
/*nav*/

@keyframes article-load {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* The footer */
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, auto));
    gap: 10rem;
    background: #aaa8a8;
    left: 0;
    right: 0;
    padding: 1% 5% 1% 5%;
}


.footer-logo{
    width: 30%;
    margin-bottom: 1.5%;
    margin-left: 3.5%;
}
/* The main section in the footer ot the ste map */
.footer-content h4{
    color: black;
    font-size: 23px;
}

.footer-content a{
    text-decoration: none;
}

.footer-content a h4:hover{
    color: teal;
    transition: all .40s ease;
}

/* The sort-into into footer */
.footer-content p{
    color: black;
    font-size: 16px;
    line-height: 23px;
    margin: 0 4%;
}
/* The footer */



/* The main section */
#mainContent{
    animation: article-load 0.6s ease-in;
}

#title{
    font-size: 55px;
    margin: 2% 10% 1% 10%;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin: 0 10% 3% 10%;
}

#chatbot{
    margin-left: 20%;
}

#guide h2{
    font-size: 45px;
    color: #015dc3;
    margin-bottom: 1%;
}

#guide p,ul{
    font-size: 22px;
}


#chat {
    width: 70%;
    max-width: 800px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
#messages {
    height: 800px;
    overflow-y: scroll;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 17px;
}
#userInput {
    display: flex;
}
#input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 18px;
}
#send {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}
#send:hover {
    background-color: #0056b3;
}
.message {
    margin: 5px 0;
    display: flex;
    align-items: center;
}
.user {

    justify-content: flex-end;
}


.bot {
    justify-content: flex-start;
}
.icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.userIcon {
    background-color: #007bff;
}
.botIcon {
    background-color: #28a745;
}
.botName {
    color: #333;
    font-weight: bold;
}
.userName {
    color: #007bff;
    font-weight: bold;
}

.policy {
    margin: 0 10% 3% 10%;
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#policyTitle{
    color: red;
}

/* The main section */


