html{
    font-family: system-ui, -apple-system,
    "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", "Liberation Sans", sans-serif;
}


body{
    width: 100%;
    margin: 0;
}

/* Go to top */
.goTopBtn{
    position: fixed;
    bottom: 35px;
    right: 35px;
    cursor: pointer;
    height: 100px;
    width: 100px;
    background: transparent;
    border: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.goTopBtn img{
    width: 110%;
}


/* Chatbot */
.chatBtn{
    position: fixed;
    bottom: 35px;
    left: 35px;
    cursor: pointer;
    height: 100px;
    width: 100px;
    background: transparent;
    border: 0;
    justify-content: center;
    align-items: center;
}
.chatBtn img{
    width: 72%;
}


/*nav*/
nav{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-color: black;
    border-bottom: 1px solid;
    box-shadow: black 0 0 3px;
    animation: nav-load 0.5s ease-in;
}

#nav_left{
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
#nav_center{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#nav_right{
    width:10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#nav_left img{
    height: 55px;
}

#nav_center a{
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgba(0,0,0,0.65);
    cursor: pointer;
    text-decoration: none;
}

/* The effects of the contents in the nav bar */
#nav_center a::before{
    position: absolute;
    content: '';
    height: 3px;
    margin-top: 30px;
    width: 5.5%;
    background: teal;
    transform: scale(0);
    transform-origin: right;
    transition: transform .4s linear;
}

#nav_center a:hover::before{
    transform: scale(1);
    transform-origin: left;
}

#nav_right a{
    width: 14%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgba(0,0,0,0.65);
    cursor: pointer;
    text-decoration: none;
}

#nav_center a:hover{
    color: rgba(0,0,0,0.85);
}

#nav_right a:hover{
    color: rgba(0,0,0,0.85);
}

/* The ease-in animation for the nav bar */
@keyframes nav-load {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}
/*nav*/


/* The footer */
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, auto));
    gap: 10rem;
    background: #aaa8a8;
    left: 0;
    right: 0;
    padding: 1% 5% 1% 5%;
}


.footer-logo{
    width: 30%;
    margin-bottom: 1.5%;
    margin-left: 3.5%;
}
/* The main section in the footer ot the ste map */
.footer-content h4{
    color: black;
    font-size: 23px;
}

.footer-content a{
    text-decoration: none;
}

.footer-content a h4:hover{
    color: teal;
    transition: all .40s ease;
}

/* The sort-into into footer */
.footer-content p{
    color: black;
    font-size: 16px;
    line-height: 23px;
    margin: 0 4%;
}
/* The footer */

#profile_left hr{
    width: 90%;
    height: 6px;
    border: none;
    border-top: 2px dashed white;
    background-color: #333;
    text-align: center;
    margin: -1% auto 3% auto;
}

#mainContent{
    animation: article-load 0.6s ease-in;
}

.title{
    align-items: center;
    justify-content: left;
    margin: 2% 10% -1% 10%;
    font-size: 35px;
    color: teal;
}

@keyframes article-load {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3% 3% 3% 3%;
}

#progress{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrowRow{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: -10px 0 -10px 0;
    gap: 20px;
}

.arrowRow span{
    font-size: 70px;
}

.arrowRow p{
    padding: 10px;
    width: 85px;
    border-radius: 7px;
    font-size: 17px;
    text-align: center;
    font-weight: bold;
    color: white;
    border: none;
}

#downArrow{
    font-size: 65px;
    margin-left: 32px;
}

.inProgress{
    background: #1a981a;
    animation-name: light;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.completed{
    background: green;
}

.waiting{
    background: gray;
}

@keyframes light{
    from{
        opacity: 1;
    }
    to{
        opacity: 0.5;
    }
}

.arrowInProgress{
    font-size: 100px;
    color: #f9c22c;
    margin: 0 0 0.5% 0;
    animation-name: light;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.arrowWaiting{
    font-size: 100px;
    color: gray;
    margin: 0 0 0.5% 0;
}

.arrowCompleted{
    font-size: 100px;
    color: green;
    margin: 0 0 0.5% 0;
}



/* For form */
#form{
    height: auto;
    border: 1px solid black;
    width: 1000px;
    background: #d7e4e4;
    box-shadow: 0 .5rem 1rem rgb(134, 134, 134);
}

#form form{
    margin: 2%;
}

#form form hr{
    width: 100%;
    border-top: 5px solid black;
}

.formClass{
    font-size: 30px;
    font-weight: bold;
}

.subTitle{
    font-size: 25px;
    font-weight: bold;
    margin-left: 15px;
}

.containerRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: -30px 10% 0 10%;
}

.inputRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3%;
    margin: 0 3% 3% 3%;
}

.inputRow label{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.inputRow label input, select{
    margin-top: 6px;
    font-size: 20px;
    width: 280px;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#nextBtnContainer{
    width: 1000px;
    display: flex;
    justify-content: flex-end;
}

#previousBtnContainer{
    display: flex;
    justify-content: flex-start;
}

#buttonDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 80px;
}

.gender-button {
    width: 100%;
    background-color: #ffffff;
    border: 2px solid #007bff;
    color: #007bff;
    padding: 7px 15px;
    margin: 5px 10px 0 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 20px;
}

.gender-button.selected {
    background-color: #007bff;
    color: white;
}

.gender-button:hover {
    background-color: #e7f0ff;
}


/* For Review */
#paymentMsg{
    font-size: 20px;
    color: red;
}

.chkMsg{
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
    color: red;
    margin-top: -10px;
}

.infoRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3%;
    margin: 0 3% 3% 7%;
}

.infoRow label{
    width: 270px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.infoRow label a{
    font-weight: normal;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.infoRow label a img{
    margin-left: 15px;
    width: 50px;
}

#bckProfile{
    width: 18%;
    background-color: #f99a05;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin: -0.5% 0 1% 0;
}

#bckProfile:hover{
    background-color: #f9c22c;
}

#cancel{
    width: 12%;
    background-color: #ef2c2c;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin: -0.5% 13px 1% 0;
}

#cancel:hover{
    background-color: #fa6f6f;
}

.infoRow img{
    width: 70%;
    margin-left: 120px;
}

#long{
    width: 520px;
}

.inputRowAdd{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3%;
    margin: 0 3% 3% 3%;
}

.inputRowAdd label{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.inputRowAdd label input{
    margin-top: 6px;
    font-size: 20px;
    width: 900px;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}










