html{
    font-family: system-ui, -apple-system,
    "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", "Liberation Sans", sans-serif;
}


body{
    width: 100%;
    margin: 0;
}

/* Go to top */
.goTopBtn{
    position: fixed;
    bottom: 35px;
    right: 35px;
    cursor: pointer;
    height: 100px;
    width: 100px;
    background: transparent;
    border: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.goTopBtn img{
    width: 110%;
}



/*nav*/
nav{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-color: black;
    border-bottom: 1px solid;
    box-shadow: black 0 0 3px;
    animation: nav-load 0.5s ease-in;
}

#nav_left{
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
#nav_center{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#nav_right{
    width:10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#nav_left img{
    height: 55px;
}

#nav_center a{
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgba(0,0,0,0.65);
    cursor: pointer;
    text-decoration: none;
}

/* The effects of the contents in the nav bar */
#nav_center a::before{
    position: absolute;
    content: '';
    height: 3px;
    margin-top: 30px;
    width: 5.5%;
    background: teal;
    transform: scale(0);
    transform-origin: right;
    transition: transform .4s linear;
}

#nav_center a:hover::before{
    transform: scale(1);
    transform-origin: left;
}

#nav_right a{
    width: 14%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgba(0,0,0,0.65);
    cursor: pointer;
    text-decoration: none;
}

#nav_center a:hover{
    color: rgba(0,0,0,0.85);
}

#nav_right a:hover{
    color: rgba(0,0,0,0.85);
}

/* The ease-in animation for the nav bar */
@keyframes nav-load {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}
/*nav*/


/* The footer */
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, auto));
    gap: 10rem;
    background: #aaa8a8;
    left: 0;
    right: 0;
    padding: 1% 5% 1% 5%;
}


.footer-logo{
    width: 30%;
    margin-bottom: 1.5%;
    margin-left: 3.5%;
}
/* The main section in the footer ot the ste map */
.footer-content h4{
    color: black;
    font-size: 23px;
}

.footer-content a{
    text-decoration: none;
}

.footer-content a h4:hover{
    color: teal;
    transition: all .40s ease;
}

/* The sort-into into footer */
.footer-content p{
    color: black;
    font-size: 16px;
    line-height: 23px;
    margin: 0 4%;
}
/* The footer */




/* The Main Content */
.mainContent{
    animation: article-load 0.6s ease-in;
}

canvas {
    border: 1px solid #ccc;
    background-color: #fff;
    margin-top: 20px;
}

.content{
    gap: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1% 10% 1% 10%;
}

.content-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1% 10% 1% 10%;

}

#chatTitle{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 15.5%;
}

.chartTitle{
    font-size: 20px;
    color: rgba(0,0,0,0.85);
    margin-bottom: -10px;
}

#chatH1, #statusH1, #progressH1, #auditH1, #finishedH1, #rejectH1{
    font-size: 28px;
}

.statusBoxContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.statusBoxContentRow{
    border: 2px solid black;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.statueTitle{
    margin-top: 10px;
    margin-bottom: -7px;
    font-size: 26px;
    font-weight: bold;
    color: black;
}

.statusStatics{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: bold;
    color: black;
}

#overviewTotal{
    display: flex;
    flex-direction: column;
    width: 1390px;
    background-color: rgb(159, 227, 255);
    border: 2px solid black;
    border-radius: 10px;
    padding: 0 10px 0 10px;
}

#statusProgress{
    background-color: rgba(255, 247, 79, 0.98);
}

#statusAudit{
    background-color: rgb(255, 193, 79);
}

#statusFinished{
    background-color: rgb(138, 227, 148);
}

#statusRejected{
    background-color: rgba(239, 154, 154, 0.98);
}

#statusProgress:hover{
    background-color: rgba(255, 250, 158, 0.98);
}

#statusAudit:hover{
    background-color: rgb(243, 212, 154);
}

#statusFinished:hover{
    background-color: rgb(182, 246, 189);
}

#statusRejected:hover{
    background-color: rgba(255, 195, 195, 0.98);
}

#overviewTitle, #progressTitle, #auditTitle, #finishedTitle, #rejectTitle{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 15.5%;
    margin-bottom: 25px;
}















/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
#alertTitle{
    font-size: 28px;
    margin-bottom: 10px;
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    height: 480px;
    border-radius: 8px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.alertH3{
    font-size: 21px;
    margin-bottom: -10px;
}

#alertButton{
    margin-top: 17px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#alertButton label{
    font-size:18px;
    font-weight: bold;
}

#addition{
    margin-top: 15px;
    margin-bottom: 10px;
    width: 300px;
    height: 80px;
}

#addition textarea{
    width: 293px;
    height: 80px;
    resize: none;
}

#alertButtonSend{
    font-size: 20px;
    font-weight: bold;
    padding: 8px 12px;
    border: none;
    color: #000000;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 8px;
    width: 300px;
    background: #66d872;
}

#alertButtonSend:hover{
    background: #97eca3;
}
/* Modal styles */



/* Plan */
#planList{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 10% 5% 10%;

}

.plans{
    width: 1400px;
    height: 600px;
    border: 3px black solid;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 0;
}


.plans table {
    width: 100%;
    border-collapse: collapse;
    margin: 1% 0 0 0;
}
.plans th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.plans td{
    font-size: 18px;
}

.plans th {
    color: black;
    font-size: 22px;
}
.plans tbody tr:hover {
    background-color: #f1f1f1;
}
.plans .button-container {
    display: flex;
    gap: 10px;
    margin-left: -1%;
}
.plans .button {
    font-size: 15px;
    padding: 8px 12px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
}

.plans table{
    margin-top: 0px;
}

.plans .view-button:hover {
    background-color: #f6cb79;
}
.plans .view-button {
    background-color: #ffa500;
}
.plans .progress-button:hover {
    background-color: #8cc698;
}
.plans .progress-button {
    background-color: #28a745;
}

#planProgress thead{
    background-color: rgba(255, 247, 79, 0.98);
}

#planAudit thead{
    background-color: rgb(255, 193, 79);
}

#planFinished thead{
    background-color: rgb(138, 227, 148);
}

#planRejected thead{
    background-color: rgba(239, 154, 154, 0.98);
}












/* The Main Content */


@keyframes article-load {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}