.modal-content3 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    height: 30%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /*display: flex;*/
    /*flex-direction: column; !* Stack children vertically *!*/
}

.modal button:hover {
    background-color: #45a049;
}

#verifyModalYesBtn3{
    background-color: teal;
    width: 100%;
}

#verifyModalNoBtn3{
    background-color: red;
    width: 100%;
}

#modalButtonRow3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-content3 input{
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}


#warningMessage3{
    font-size: 20px;
}

#longForm3{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#discountInput{
    width: 93%;
    margin-left: 5px;
}